button,
a,
input {
  outline: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

body,
html {
  font-family: $font-Graphik;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.zoom-effect {
  .effect-link {
    position: relative;
    overflow: hidden;
  }

  .effect-img {
    transition: all 0.2s linear;
  }

  &:hover {
    .effect-img {
      transition: all 0.2s linear;
      transform: scale(1.1);
    }
  }
}

/* stylelint-disable */
html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

div {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: 120% !important;
  color: #333333;
  margin: 0;
}

body h1 {
  font-size: 24px;
}

body h2 {
  font-size: 22px;
}

body h3 {
  font-size: 18px;
}

body h4 {
  font-size: 16px;
}

body h5 {
  font-size: 14px;
}

body h6 {
  font-size: 13px;
}

body a {
  text-decoration: none;
}

.Btn_a {
  line-height: 50px;
  height: 50px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  cursor: pointer;
  background-color: #FFCC00;
  color: #000000;
  padding: 0px 18px;
  display: inline-block;
  border: 1px solid #FFCC00;
  border-radius: 6px;
}

.sec-header {
  margin-bottom: 30px;
}

.sec-header h1 {
  font-family: "Roboto Slab";
  font-weight: bold;
  color: #2D2D2D;
}

.sec-header h1::after {
  content: "";
  background-color: #FFCC00;
  border: 1px solid #FFCC00;
  display: inline-block;
  position: absolute;
}

@media (min-width: 1200px) {
  .sec-header h1 {
    font-size: 62px;
  }
  .sec-header h1::after {
    width: 74px;
    height: 8px;
    bottom: 32px;
    left: -100px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .sec-header h1 {
    font-size: 62px;
  }
  .sec-header h1::after {
    width: 74px;
    height: 8px;
    bottom: 32px;
    left: -100px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sec-header h1 {
    font-size: 50px;
  }
  .sec-header h1::after {
    width: 30px;
    height: 6px;
    bottom: 24px;
    left: -47px;
  }
}

@media (max-width: 767.98px) {
  .sec-header h1 {
    font-size: 31px;
  }
  .sec-header h1::after {
    width: 37px;
    height: 4px;
    bottom: 24px;
    left: -47px;
  }
}

.fixed {
  position: fixed;
  background: #FFFFFF;
  z-index: 1000;
  color: black;
  border: 1px solid black;
  padding-bottom: 10px;
}

.fixed-SimpleHeader {
  position: fixed;
  z-index: 1001;
}

.SimpleHeader-Container {
  background-color: #000;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
  display: none;
}

.SimpleHeader-Container .SimpleHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content max-content max-content max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content max-content max-content max-content max-content;
  grid-gap: 10px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 100px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.SimpleHeader-Container .split {
  background-color: gray;
  height: 15px;
  width: 1.5px;
  padding: auto;
  margin: auto;
}

.SimpleHeader-Container .lang a {
  color: #FFFFFF;
}

.header {
  background-image: url(../images/bg_fullscreen_expo_golf_villas_A6_Rectangle_62_pattern.png);
  width: 100%;
  -webkit-animation-name: change_BG;
          animation-name: change_BG;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes change_BG {
  from {
    background-image: url(../images/Mask_Group_8_A6_Group_60_pattern.png);
  }
  to {
    background-image: url(../images/Mask_Group_8_A6_Group_60_pattern.png);
  }
}

@keyframes change_BG {
  from {
    background-image: url(../images/Mask_Group_8_A6_Group_60_pattern.png);
  }
  to {
    background-image: url(../images/Mask_Group_8_A6_Group_60_pattern.png);
  }
}

.header header {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-auto-columns: auto;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 50px;
}

.header header .logo img {
  padding-left: 100px;
  width: 50%;
}

.header header .logo .Logo_Sticky {
  display: none;
}

.header header .MenuButton input {
  display: none;
}

.header header .MenuButton .MenuButton-lbl {
  font-size: 40px;
  color: #FFFFFF;
  border: white solid 2px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

.header header .MenuButton .MenuButton-lbl i {
  font-size: 24px;
}

.header header .MenuButton nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content max-content max-content max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content max-content max-content max-content max-content;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  grid-gap: 25px;
}

.header header .MenuButton nav a {
  font-family: "Roboto Slab";
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 1s  ease-in-out 0s;
  transition: all 1s  ease-in-out 0s;
}

.header header .MenuButton nav a:hover {
  color: #FFCC00;
}

.header header .MenuButton nav a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: .5px;
  left: 0;
  margin-top: 25px;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s  ease-in-out 0s;
  transition: all 0.3s  ease-in-out 0s;
  background-color: #FFCC00;
}

.header header .MenuButton nav a:hover:after {
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  background-color: #FFCC00;
  padding: 2px;
  width: 50%;
  height: .5px;
}

.header header .MenuButton nav .active {
  color: #FFCC00;
}

.header header .MenuButton nav .active:after {
  content: '';
  -webkit-transform: scaleX(0.9);
          transform: scaleX(0.9);
  height: 2px;
  width: 50%;
  left: 0;
  margin-top: 25px;
  border-radius: 5px;
  position: absolute;
  background-color: #FFCC00;
}

@media (min-width: 1200px) {
  .header header .logo img {
    width: 50%;
    margin: 0 auto;
  }
  .header header .MenuButton {
    margin: auto;
  }
  .header header .MenuButton label {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header header .logo img {
    width: 40%;
  }
  .header header .MenuButton {
    margin: auto;
  }
  .header header .MenuButton label {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 10px;
  }
  .header header .logo img {
    width: 30%;
    margin: auto;
  }
  .header header .MenuButton {
    margin: auto;
  }
  .header header .MenuButton label {
    display: none;
  }
  .header header .MenuButton nav {
    grid-gap: 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 767.98px) {
  .header header .logo img {
    width: 60%;
  }
  .header header .MenuButton {
    text-align: right;
  }
  .header header .MenuButton nav {
    position: absolute;
    right: -100%;
    margin: 20px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 5px;
    padding-top: 10px;
  }
  .header header .MenuButton nav a {
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px;
  }
  .header header #MenuButton-btn:checked + #MenuButton-lbl + nav {
    right: 0;
    margin-right: 30%;
    -webkit-transition: all .35s;
    transition: all .35s;
    z-index: 1000;
  }
}

.header .SearchFilters {
  width: 70%;
  margin: 0 auto;
}

.header .SearchFilters .SearchTitles {
  background-color: rgba(1, 1, 1, 0.85);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3%;
  font-size: 25px;
  cursor: pointer;
}

.header .SearchFilters .SearchTitles a {
  color: #FFFFFF;
  padding: 10px;
  cursor: pointer;
}

.header .SearchFilters .SearchTitles .active {
  background-color: black;
  padding: 10px;
  color: #FFCC00;
}

.header .SearchFilters .Search .BasicSearch {
  background-color: rgba(1, 1, 1, 0.85);
  padding: 2% 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr .5fr 1fr;
      grid-template-columns: 1fr 2fr .5fr 1fr;
  grid-gap: 10px;
}

.header .SearchFilters .Search .BasicSearch .PropertyType select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  line-height: 26px;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .SearchFilters .Search .BasicSearch .location .input-location {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  line-height: 26px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .SearchFilters .Search .BasicSearch .SearchBtn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  grid-gap: 10px;
  margin: 0;
  margin-top: 28px;
}

.header .SearchFilters .Search .BasicSearch .SearchBtn i {
  color: black;
  font-size: 15px;
  margin: auto 0;
}

.header .SearchFilters .Search .BasicSearch .SearchBtn .Unset {
  all: unset;
}

.header .SearchFilters .Search .BasicSearch .AdvanceSearch {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr .5fr;
      grid-template-columns: .5fr .5fr;
  height: 50%;
  margin-top: 40px;
  cursor: pointer;
}

.header .SearchFilters .Search .BasicSearch .AdvanceSearch i {
  color: #FFCC00;
  font-size: 25px;
}

.header .SearchFilters .Search .advanced-Search {
  background-color: rgba(1, 1, 1, 0.85);
  padding: 2% 18% 2% 2%;
  visibility: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 80%;
}

.header .SearchFilters .Search .advanced-Search select {
  background-color: rgba(1, 1, 1, 0.85);
  color: #FFFFFF;
  width: 100%;
  padding: 10px;
  line-height: 26px;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .SearchFilters h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 17px;
}

.header .HeaderText {
  display: -ms-grid;
  display: grid;
  width: 60%;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.header .HeaderText .First-Animate {
  position: absolute;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.header .HeaderText .First-Animate .up-animation {
  width: 100%;
  height: 2%;
  background: #FFFFFF;
  margin: 0 auto;
  visibility: hidden;
  -webkit-animation-name: example_up;
          animation-name: example_up;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes example_up {
  0% {
    height: 6px;
    margin-top: 0px;
    visibility: visible;
  }
  50% {
    height: 210px;
    margin-top: 0px;
    visibility: visible;
  }
  100% {
    height: 6px;
    margin-top: 204px;
    visibility: visible;
  }
}

@keyframes example_up {
  0% {
    height: 6px;
    margin-top: 0px;
    visibility: visible;
  }
  50% {
    height: 210px;
    margin-top: 0px;
    visibility: visible;
  }
  100% {
    height: 6px;
    margin-top: 204px;
    visibility: visible;
  }
}

.header .HeaderText .First-Animate .down-animation {
  position: absolute;
  background: #FFFFFF;
  bottom: 0;
  width: 400px;
  height: 6px;
  left: 25%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 210px;
  visibility: hidden;
  -webkit-animation-name: example_down;
          animation-name: example_down;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes example_down {
  0% {
    height: 6px;
    margin-top: 210px;
    visibility: visible;
  }
  50% {
    height: 90px;
    margin-top: 120px;
    margin-bottom: 0;
    visibility: visible;
  }
  100% {
    height: 6px;
    margin-top: 120px;
    margin-bottom: 84px;
    visibility: visible;
  }
}

@keyframes example_down {
  0% {
    height: 6px;
    margin-top: 210px;
    visibility: visible;
  }
  50% {
    height: 90px;
    margin-top: 120px;
    margin-bottom: 0;
    visibility: visible;
  }
  100% {
    height: 6px;
    margin-top: 120px;
    margin-bottom: 84px;
    visibility: visible;
  }
}

.header .HeaderText .Second-Animate {
  position: absolute;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.header .HeaderText .Second-Animate .TextUp {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 70px;
  visibility: hidden;
  padding-top: 30px;
  -webkit-animation-name: Text_Show;
          animation-name: Text_Show;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.header .HeaderText .Second-Animate .TextDown {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 25px;
  visibility: hidden;
  -webkit-animation-name: Text_Show;
          animation-name: Text_Show;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes Text_Show {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes Text_Show {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.header .HeaderText .Box {
  position: absolute;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  -webkit-animation-name: Final_box;
          animation-name: Final_box;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes Final_box {
  from {
    visibility: hidden;
  }
  to {
    visibility: hidden;
  }
}

@keyframes Final_box {
  from {
    visibility: hidden;
  }
  to {
    visibility: hidden;
  }
}

.header .HeaderText .Box .Box_up {
  background: #FFFFFF;
  color: #000;
  width: 100%;
  height: 150px;
  font-weight: bold;
  font-size: 50px;
  padding-top: 10px;
}

.header .HeaderText .Box .Box_down {
  color: #FFFFFF;
  background: #000;
  width: 50%;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  left: 25%;
  margin-top: -30px;
}

.header .HeaderText .Box_animate_1 {
  position: absolute;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  -webkit-animation-name: Box_animatee_1;
          animation-name: Box_animatee_1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  visibility: hidden;
}

@-webkit-keyframes Box_animatee_1 {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes Box_animatee_1 {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

.header .HeaderText .Box_animate_1 .animate_1_up {
  background: #000;
  -webkit-animation-name: animatee_1_Up ,animatee_1_Up;
          animation-name: animatee_1_Up ,animatee_1_Up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 4s,1s;
          animation-delay: 4s,1s;
}

@-webkit-keyframes animatee_1_Up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animatee_1_Up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header .HeaderText .Box_animate_1 .animate_1_down {
  background-color: yellow;
  width: 50%;
  -webkit-animation-name: animatee_1_down ,animatee_1_down_;
          animation-name: animatee_1_down ,animatee_1_down_;
  -webkit-animation-duration: 1s,2s;
          animation-duration: 1s,2s;
  -webkit-animation-delay: 4s,1s;
          animation-delay: 4s,1s;
}

@-webkit-keyframes animatee_1_down {
  from {
    width: 1%;
  }
  to {
    width: 50%;
  }
}

@keyframes animatee_1_down {
  from {
    width: 1%;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes animatee_1_down_ {
  from {
    width: 1%;
    background-color: white;
  }
  to {
    width: 50%;
    background-color: white;
  }
}

@keyframes animatee_1_down_ {
  from {
    width: 1%;
    background-color: white;
  }
  to {
    width: 50%;
    background-color: white;
  }
}

.header .HeaderText .Box_animate_2 {
  position: absolute;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  visibility: hidden;
  -webkit-animation-name: Box_animate_2_;
          animation-name: Box_animate_2_;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes Box_animate_2_ {
  100% {
    visibility: visible;
  }
}

@keyframes Box_animate_2_ {
  100% {
    visibility: visible;
  }
}

.header .HeaderText .Box_animate_2 .Box_up {
  -webkit-animation-name: Box_up_animate;
          animation-name: Box_up_animate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes Box_up_animate {
  from {
    width: 100%;
  }
  to {
    width: 1%;
  }
}

@keyframes Box_up_animate {
  from {
    width: 100%;
  }
  to {
    width: 1%;
  }
}

.header .HeaderText .Box_animate_2 .Box_down {
  background: #000;
  -webkit-animation-name: Box_down_animate;
          animation-name: Box_down_animate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes Box_down_animate {
  from {
    width: 1%;
  }
  to {
    width: 50%;
  }
}

@keyframes Box_down_animate {
  from {
    width: 1%;
  }
  to {
    width: 50%;
  }
}

.com-WhoWeAre {
  padding: 7% 7%;
}

.com-WhoWeAre .WhoWeAre {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
}

.com-WhoWeAre .WhoWeAre p {
  margin: auto 0;
  font-family: "Roboto";
}

.com-WhoWeAre .WhoWeAre .Div_Btn_a {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 1200px) {
  .WhoWeAre {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .WhoWeAre img {
    width: 60%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .WhoWeAre {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .WhoWeAre img {
    width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .WhoWeAre {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .WhoWeAre img {
    width: 60%;
  }
}

@media (max-width: 767.98px) {
  .WhoWeAre {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .WhoWeAre img {
    width: 50%;
    margin: 0 auto;
  }
  .WhoWeAre .Btn_a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.com-FeatureProperties {
  padding: 7% 7%;
  background-color: #000000;
}

.com-FeatureProperties .sec-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 4%;
}

.com-FeatureProperties .sec-part-twice {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 8%;
  padding-bottom: 8%;
  position: relative;
}

.com-FeatureProperties .sec-part-twice .ImgText h1 {
  font-size: 100%;
  color: #ffffff;
}

.com-FeatureProperties .sec-part-twice .ImgText p {
  font-size: 50%;
  color: #ffffff;
}

.com-FeatureProperties .sec-part-one {
  padding-bottom: 8%;
  position: relative;
}

.com-FeatureProperties .sec-part-one .ImgText h1 {
  font-size: 200%;
  color: #ffffff;
}

.com-FeatureProperties .sec-part-one .ImgText p {
  font-size: 100%;
  color: #ffffff;
}

.com-FeatureProperties img {
  width: 100%;
  -webkit-transition: all 1s  ease-in-out 0s;
  transition: all 1s  ease-in-out 0s;
}

.com-FeatureProperties .Img_Cover {
  overflow: hidden;
  position: relative;
}

.com-FeatureProperties .Img_Cover:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
          transform: scale3d(1.2, 1.2, 1.2);
}

.com-FeatureProperties .Img_Cover:after {
  -webkit-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

.com-FeatureProperties .Img_Cover:hover:after {
  background-color: rgba(8, 8, 8, 0.5);
}

.com-FeatureProperties .ImgText {
  position: absolute;
  visibility: hidden;
  -webkit-transition: all 1s  ease-in-out 0s;
  transition: all 1s  ease-in-out 0s;
  bottom: 10%;
}

.com-FeatureProperties .Img_Cover:hover .ImgText {
  visibility: visible;
}

.com-FeatureProperties a {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.com-FeatureProperties .sec-header h1 {
  color: #ffffff;
}

.com-FeatureProperties .Div_Btn_a {
  display: -ms-grid;
  display: grid;
}

.com-FeatureProperties .Btn_a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .sec-content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .sec-content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sec-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 767.98px) {
  .sec-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.com-contactUs {
  padding: 7% 7%;
}

.com-contactUs .contactUs {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
}

.com-contactUs .contactUs img {
  position: absolute;
  z-index: 1;
  width: 30%;
}

.com-contactUs .contactUs input, .com-contactUs .contactUs textarea {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 15px;
  line-height: 26px;
  font-size: 16px;
  border: 1px solid #797575;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.com-contactUs .contactUs textarea {
  height: 140px;
}

.com-contactUs .contactUs input[type=submit] {
  margin-bottom: 0px;
  padding: 0px;
}

.com-contactUs .contactUs ::-webkit-input-placeholder {
  color: #797575;
}

.com-contactUs .contactUs :-ms-input-placeholder {
  color: #797575;
}

.com-contactUs .contactUs ::-ms-input-placeholder {
  color: #797575;
}

.com-contactUs .contactUs ::placeholder {
  color: #797575;
}

.com-contactUs .contactUs .back {
  padding-left: 50px;
  margin-top: -50px;
}

.com-contactUs .contactUs .imgs {
  padding-left: 50px;
}

@media (min-width: 1200px) {
  .contactUs {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .contactUs {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .contactUs {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767.98px) {
  .contactUs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contactUs .imgs {
    display: none;
  }
}

.Com-Footer {
  background-color: #000000;
  color: #FFFFFF;
  padding: 7% 7%;
}

.Com-Footer a {
  color: #FFFFFF;
}

.Com-Footer .FooterUp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding: 2%;
  grid-gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Com-Footer .FooterUp .FooterLeft {
  top: 10px;
}

.Com-Footer .FooterUp .FooterLeft img {
  width: 50%;
}

.Com-Footer .FooterUp .FooterLeft p {
  width: 100%;
}

.Com-Footer .FooterUp .FooterRight {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.Com-Footer .FooterUp .FooterRight .FooterMenu {
  padding-right: 10%;
  font-family: "Roboto";
}

.Com-Footer .FooterUp .FooterRight .FooterMenu h1 {
  padding-bottom: 2%;
}

.Com-Footer .FooterUp .FooterRight .FooterMenu h1 a {
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
}

.Com-Footer .FooterUp .FooterRight .FooterMenu a {
  display: block;
  padding: 6% 0;
  font-weight: 100;
}

.Com-Footer .FooterDown {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.Com-Footer .FooterDown i {
  padding-right: 10px;
  font-size: 20px;
  color: gray;
}

.Com-Footer hr {
  border: 1px solid  #707070;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .Com-Footer .FooterUp {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .Com-Footer .FooterUp .FooterLeft {
    width: 80%;
  }
  .Com-Footer .FooterDown {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 30%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .Com-Footer .FooterUp {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .Com-Footer .FooterUp .FooterLeft {
    width: 80%;
  }
  .Com-Footer .FooterDown {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .Com-Footer .FooterUp {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Com-Footer .FooterUp .FooterLeft {
    width: 100%;
  }
  .Com-Footer .FooterDown {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 80%;
  }
}

@media (max-width: 767.98px) {
  .Com-Footer .FooterUp {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Com-Footer .FooterUp .FooterLeft {
    width: 100%;
  }
  .Com-Footer .FooterDown {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 80%;
  }
}

.header header .MenuButton nav li {
    display: inline-block;
    float: left;
}

.header header .MenuButton nav ul {
    width: 100%;
    display: inline-block;
}
/* stylelint-enable */
